[Desktop Entry]
Name=Ghost-Deco 2.2
Comment=A window decoration to compliment the Ghost plasma theme
X-KDE-PluginInfo-Author=J.M.Todaro
X-KDE-PluginInfo-Email=design@jmtodaro.com
X-KDE-PluginInfo-Website=http://jmtodaro.com
X-KDE-PluginInfo-Version=2.2
X-KDE-PluginInfo-License=GPL_V2 
